@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: 'Merriweather', serif;
}

ion-content{
    --ion-background-color: linear-gradient(to right, #075F5F , #0FD2D2);
}

/*
#qr-content{
    padding: 5rem;

    div{
        display:flex;
        flex-direction:column;
        height:100vh;
        align-items: center;

        span{
            background-color: #333333;
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 0.75rem;
        }
    }
}
*/