@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

body{
    background: linear-gradient(to right, #075F5F , #0FD2D2);
}

ion-row{
    text-align: center;
    
    ion-col{
        justify-content: center;
    }

    img{
        width: 70vw;
        max-width: 25rem;
    }
}

.first{
    min-height: 80vh;
}

.second{
    min-height: 20vh;
    padding-bottom: 1rem;
}

